body{display:flex;
 flex-direction: column;
 background:#ffe4e1;
 }

main{
 display:flex;
 flex-direction: row;
 flex:auto;
}
article{
 flex:2;
}
aside{
 flex:1;
}
.logo{
 font: size 2em;
 color:#0077cc;
 margin-right: 20px;
}
